## i18n
#set ($title = $i18n.getText('EffortTable.config.title'))
#set ($name = $i18n.getText('EffortTable.config.name'))
#set ($deleteButton = $i18n.getText("EffortTable.deleteButton"))
#set ($addButton = $i18n.getText("EffortTable.addButton"))
#set ($save = $i18n.getText('common.words.save'))
#set ($cancel = $i18n.getText('common.words.cancel'))

<html>
	<head>
		<title>$!{title}</title>
		<meta content="admin" name="decorator" />
	</head>
	<body>
		#if ($action)
			#set ($value = $action.getValue())
		#end
		<h2 class="formtitle">$!{title}:</h2>
		<form action="EffortTableConfigurationItemAction.jspa" method="post">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>$!{name}</th>
					</tr>
				</thead>
				<tbody id="EffortTableBody">
					#set ($idx = 0)
					#if ($value)
						#if ($value.size() > 0)
							#foreach ($item in $value)
								<tr id="fieldset_${velocityCount}">
									<td style="width: 1%">
										<button type="button" onclick="removeRow('#fieldset_${velocityCount}')">
											<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span> ${deleteButton}
										</button>
									</td>
									<td>
										<input type="text" id="taskList" name="taskList" value="$!{item}" />
									</td>
								</tr>
								#set ($idx = $velocityCount)
							#end
						#end
					#end
				</tbody>
				<tfoot>
					<tr>
						<td colspan="100%">
							<button type="button" onclick="addRow()">
								<span class="aui-icon aui-icon-small aui-iconfont-add"></span> ${addButton}
							</button>
						</td>
					</tr>
					<tr>
						<td colspan="100%">
							<input type="submit" id="Save" name="Save" value="${save}"/>
							<input type="submit" id="Cancel" name="Cancel" value="${cancel}" />
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
		<script type="text/javascript">
			var idx = ${idx};
			function removeRow(id) {
				$(id).remove();
			}
			function addRow() {
				idx++;
				var newControlHTML =
					'<tr id="fieldset_' + idx + '">' + 
					'	<td style="width: 1%">' + 
					'		<button type="button" onclick="removeRow(\'#fieldset_' + idx + '\')">' + 
					'			<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span> ${deleteButton}' + 
					'		</button>' + 
					'	</td>' + 
					'	<td>' + 
					'		<input type="text" id="taskList" name="taskList" value=""/>' + 
					'	</td>' + 
					'</tr>';
				$('#EffortTableBody').append(newControlHTML);
			}
		</script>
	</body>
</html>