## i18n
#set ($taskLabel = $i18n.getText("EffortTable.task.label"))
#set ($headCountDayLabel = $i18n.getText("EffortTable.headCountDay.label"))
#set ($expensesLabel = $i18n.getText("EffortTable.expenses.label"))
#set ($totalHeadCountDayLabel = $i18n.getText("EffortTable.totalHeadCountDay.label"))
#set ($dollar = $i18n.getText("EffortTable.currencySymbol"))
#set ($noData = $i18n.getText("CustomFieldTypes.noData"))

## Because EffortTable2 is masquerading as a text field, $value is a String.
## So we provide the data class and Gson parser in Velocity parameters, and parse the string right here.
#if ($value) 
	#set ($obj = $gson.fromJson($value, $class))
#end

#set ($mode = 'View')
#set ($panel = ${customField.id} + ${mode})
#set ($state = ${issue.key} + '.' + ${customField.id} + '.State')
#set ($toggle = ${panel} + '_Toggle')
#set ($useSessionState = $true)
<table>
	<tr>
		<td class="table-header">
			<a href="#" onclick="${toggle}()">
				<span id="${panel}_Collapsed" style="display: none">&#11166;</span>
				<span id="${panel}_Expanded">&#11167;</span>
				${customField.name}
			</a>
		</td>
	</tr>
	<tr>
		<td style="padding: 0px">
			<table id="${panel}" class="view-table">
				<thead>
					<tr>
						<th>${taskLabel}</th>
						<th>${headCountDayLabel}</th>			
					</tr>
				</thead>
				<tbody>
					#set ($hasData = 0)
					#if ($obj)
						#set ($rows = $obj.rows)
						#if ($rows.size() > 0)
							#set ($hasData = 1)
							#foreach ($row in $rows)
								<tr>
									<td>$!row.task</td>
									<td>$!row.headCountDay</td>
								</tr>
							#end
						#end
					#end
					#if ($hasData == 0)
						<tr><td colspan="100%">${noData}</td></tr>
					#end
				</tbody>
				<tfoot>
				<tr>
					<th>${expensesLabel}</th>
					<th>${totalHeadCountDayLabel}</th>
				</tr>
				#set($expenses = 0)
				#set($totalHeadCountDay = 0)
				#if ($obj) 
					#if ($obj.expenses)
						#set($expenses = $obj.expenses)
					#end
					#if ($obj.totalHeadCountDay)
						#set($totalHeadCountDay = $obj.totalHeadCountDay)
					#end
				#end
				<tr>
					<td>${dollar}$!{expenses}</td>
					<td>$!{totalHeadCountDay}</td>
				</tr>
				</tfoot>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
	function ${toggle}_Helper(state) {
		var panel = '#${panel}';
		var expanded = panel + '_Expanded';
		var collapsed = panel + '_Collapsed';
		if (state === null) {
			if (${useSessionState}) {
				// Get state from sessionStorage
				var s = sessionStorage.getItem('${state}');
				if (s) {
					state = (JSON.parse(s) === true);
				} else {
					state = true;
				}
			} else {
				// Not using session state and state not provided, do nothing
				return;
			}
		} 
		if (state) {
			$(panel).show();
			$(expanded).show();
			$(collapsed).hide();
		} else {
			$(panel).hide();
			$(expanded).hide();
			$(collapsed).show();
		}
		if (${useSessionState}) {
			sessionStorage.setItem('${state}', JSON.stringify(state));
		}
	}
	function ${toggle}() {
		if ($(${panel}).is(":hidden")) {
			${toggle}_Helper(true);
		} else {
			${toggle}_Helper(false);
		}
	}
	// Apply state
	${toggle}_Helper(null);
</script>