## i18n
#set ($title = $i18n.getText('GenericTable.config.title'))
#set ($name = $i18n.getText('GenericTable.config.name'))
#set ($deleteButton = $i18n.getText("GenericTable.deleteButton"))
#set ($addButton = $i18n.getText("GenericTable.addButton"))
#set ($save = $i18n.getText('common.words.save'))
#set ($cancel = $i18n.getText('common.words.cancel'))

<html>
	<head>
		<title>$!{title}</title>
		<!-- This is responsible for showing the left menu -->
		<meta name="admin.active.section" content="admin_issues_menu/element_options_section/fields_section"/>
    	<meta name="admin.active.tab" content="view_custom_fields"/>
    	<style type="text/css">
			table.table, table.table tr, table.table th, table.table td {
				border: 1px solid; 
				border-collapse: collapse;
			}
		</style>
	</head>
	<body>
		#set ($settings = $action.getValue())
		<h2 class="formtitle">Configure $!{settings.getCustomFieldName()} ($!{settings.getCustomFieldId()}):</h2>
		<form action="GenericTableConfigurationItemAction.jspa" method="post">
			<input type="hidden" name="customFieldId" value="$!{action.getFieldId()}"/>
			<table class="table">
				<thead>
					<tr>
						<th>Property</th>
						<th>Notes</th>
						<th style="text-align: left;">Value<br/>
							<ul>
								<li>"_CF_" will be substituted with "customfield_[#]_View_" in view mode.</li>
								<li>"_CF_" will be substituted with "customfield_[#]" in edit mode.</li>
								<li>"_EDITROW_" will be substituted with "style='display: none'" in view mode.</li>
								<li>"_EDITROW_" will be substituted with "style='display: table-row'" in edit mode.</li>
								<li>"_EDITCELL_" will be substituted with "style='display: none'" in view mode.</li>
								<li>"_EDITCELL_" will be substituted with "style='display: table-cell'" in edit mode.</li>
								<li>"_EDIT_" will be substituted with "style='display: none'" in view mode.</li>
								<li>"_EDIT_" will be substituted with "style='display: inline-block'" in edit mode.</li>
								<li>"_VIEW_" will be substituted with "style='display: inline-block'" in view mode.</li>
								<li>"_VIEW_" will be substituted with "style='display: none'" in edit mode.</li>
								<li>This ensures element ids to be unique.</li>
							</ul>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>JavaScript - Toggle Dirty</td>
						<td>JavaScript function to toggle value monitoring. This allows updating value without marking the form dirty.
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsToggleDirty" 
										name="jsToggleDirty">$!{settings.getJsToggleDirty()}</textarea>
						</td>
					</tr>
					<tr>
						<td>JavaScript - Toggle Empty Row</td>
						<td>JavaScript function to toggle the "no records" row.
							<ul>
								<li>This uses "_CF_empty" as id to locate the tr element.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsToggleEmpty" 
										name="jsToggleEmpty">$!{settings.getJsToggleEmpty()}</textarea>
						</td>
					</tr>
					<tr>
						<td>JavaScript - Add Row</td>
						<td>JavaScript function to add a new row to table.
							<ul>
								<li>This uses "_CF_tbody" as id to locate tbody</li>
								<li>This uses "_CF_template" as id to locate row template.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsAddRow" 
										name="jsAddRow">$!{settings.getJsAddRow()}</textarea>
						</td>
					</tr>
					<tr>
						<td>JavaScript - Delete Row</td>
						<td>JavaScript function to delete a row from table.<br/>
							<ul>
								<li>Parameter is the tr element to be removed.</li>
								<li>Invokes _CF_save() to update hidden field value.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsDelRow" 
										name="jsDelRow">$!{settings.getJsDeleteRow()}</textarea>
						</td>
					</tr>
					<tr>
						<td>JavaScript - Load</td>
						<td>JavaScript function to update value from hidden field to table.
							<ul>
								<li>This uses "_CF_" as id to locate hidden field.</li>
								<li>Take JSON from hidden field.</li>
								<li>Add rows to _CF_tbody and set input element values.</li>
							</ul>						
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsLoad" 
										name="jsLoad">$!{settings.getJsLoad()}</textarea>
						</td>
					</tr>
					<tr>
						<td>JavaScript - Save</td>
						<td>JavaScript function to update value from table to hidden field.
							<ul>
								<li>This uses "_CF_" as id to locate hidden field.</li>
								<li>Take values from "_CF_tbody".</li>
								<li>JSON format: {"data":[ {"Field":"Value"}, ...]}</li>
								<li>Save JSON to hidden field.</li>
								<li>Invokes _CF_validation() to perform validation.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsSave" 
										name="jsSave">$!{settings.getJsSave()}</textarea>
						</td>
					</tr>
					<tr>
						<td>JavaScript - Vaidation</td>
						<td>JavaScript function to validate values.
							<ul>
								<li>This uses "_CF_tbody" as id to locate the table rows.</li>
								<li>Call input field's .setCustomValidity() to set error message.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="jsValidation" 
										name="jsValidation">$!{settings.getJsValidation()}</textarea>
						</td>
					</tr>
					<tr>
						<td>CSS Style</td>
						<td>CSS styles.</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="style" 
										name="style">$!{settings.getStyle()}</textarea>
						</td>
					</tr>
					<tr>
						<td>HTML Table</td>
						<td>HTML table. 
							<ul>
								<li>Style the HTML table as needed.</li>
								<li>The tbody must be empty and have id "_CF_tbody".</li>
								<li>Input elements should not have id attribute (since there will be multiple rows).</li>
								<li>Input elements can have name or class attributes to distinguish them.</li>
								<li>Do not include a form element.</li>
								<li>Include a row with id "_CF_empty". This will be displayed when there are no rows.</li>
								<li>A hidden field with id and name "_CF_" will be added automatically before the table.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="20" 
										cols="80" 
										id="table" 
										name="table">$!{settings.escapeHtml($settings.getTable())}</textarea>
						</td>
					</tr>
					<tr>
						<td>Row Template</td>
						<td>HTML template for a single row.
							<ul>
								<li>Template should have id "_CF_template".</li>
								<li>A row should include a delete button to invoke delete row function.</li>
								<li>Include both view and edit controls at the same time.</li>
								<li>Use &lt;span _VIEW_&gt; for displaying a field in view mode.</li>
								<li>Use &lt;input _EDIT_&gt; for displaying a field in edit mode.</li>
								<li>Use onchange event to invoke _CF_save function.</li>
								<li>Include "_EDIT_" in elements to be hidden in view mode.</li>
							</ul>
						</td>
						<td>
							<textarea 	rows="10" 
										cols="80" 
										id="rowTemplate" 
										name="rowTemplate">$!{settings.escapeHtml($settings.getRowTemplate())}</textarea>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="100%">
							<input type="submit" id="Save" name="Save" value="Save"/>
							<input type="submit" id="Cancel" name="Cancel" value="Cancel" />
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
		<hr/>		
		<h3>View (Source): </h3>
		<textarea rows="10" cols="130" readonly="readonly">
&lt;script type="text/javascript"&gt;
$!{settings.getScript($true)}
&lt;/script&gt;
&lt;style type="text/css"&gt;
$!{settings.getStyleContent($true)}
&lt;style&gt;
&lt;div&gt;
$!{settings.getHiddenField("", $true)}
$!{settings.escapeHtml($settings.getHtml($true))}
&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$!{settings.getInitScript($true)}
&lt;/script&gt;
		</textarea>
		<h3>Edit (Source): </h3>
		<textarea rows="10" cols="130" readonly="readonly">
&lt;script type="text/javascript"&gt;
$!{settings.getScript()}
&lt;/script&gt;
&lt;style type="text/css"&gt;
$!{settings.getStyleContent()}
&lt;style&gt;
&lt;div&gt;
$!{settings.getHiddenField("")}
$!{settings.escapeHtml($settings.getHtml())}
&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$!{settings.getInitScript()}
&lt;/script&gt;
		</textarea>
		<script type="text/javascript">
			$!{settings.getScript()}
			$!{settings.getScript($true)}
			function editFormSubmit() {
				$('#editFormResult').val('Form is valid: ' + document.forms['editForm'].checkValidity());
			}
		</script>
		<style type="text/css">
			$!{settings.getStyleContent()}
			$!{settings.getStyleContent($true)}
		</style>
		<form id="editForm">
			<h3>Edit (Preview): </h3>
			<div style="width: 100%">
				Hidden field: 
				#disable_html_escaping()
				$!{settings.getHiddenField("", $false, $true)}
				#enable_html_escaping()
				<input type="button" onclick="$!{settings.getInitScript()}" value="Run Load Script"/>
				<br/>
				Table:
				#disable_html_escaping()
				$!{settings.getHtml()}
				#enable_html_escaping()
			</div>
			<div>
				<input type="button" value="Test Submit" onclick="editFormSubmit();"/>
				<input type="text" readonly="readonly" id="editFormResult" value=""/>
			</div>
		</form>
		<form id="viewForm">
			<h3>View (Preview): </h3>
			<div style="width: 100%">
				Hidden field: 
				#disable_html_escaping()
				$!{settings.getHiddenField("", $true, $true)}
				#enable_html_escaping()
				<input type="button" onclick="$!{settings.getInitScript($true)}" value="Run Load Script"/>
				<br/>
				Table:
				#disable_html_escaping()
				$!{settings.getHtml($true)}
				#enable_html_escaping()
			</div>
		</form>
	</body>
</html>