<html>
	<head>
		<title>$i18n.getText('URLField.config.title')</title>
		<meta content="admin" name="decorator" />
	</head>
	<body>
		#if ($action)
			#set ($value = $action.getValue()) 
		#else
			#set ($value = 1)
		#end
		<h2 class="formtitle">${i18n.getText('URLField.config.title')}:</h2>
		<form action="URLFieldConfigurationItemAction.jspa" method="post">
			<table>
				<tr>
					<th>${i18n.getText('URLField.config.name')}</th>
					<td>
						<input type="number" step="1" name="URLField.config.max" id="URLField.config.max" value="$!value" />
					</td>
				</tr>
				<tr>
					<td colspan="100%">
						<input type="submit" id="Save" name="Save" value="${i18n.getText('common.words.save')}"/>
						<input type="submit" id="Cancel" name="Cancel" value="${i18n.getText('common.words.cancel')" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>