## i18n 
#set ($urlLabel = $i18n.getText("URLField.url.label"))
#set ($urlHelpText = $i18n.getText("URLField.url.helpText"))
#set ($displayTextLabel = $i18n.getText("URLField.displayText.label"))
#set ($displayTextHelpText = $i18n.getText("URLField.displayText.helpText"))
#set ($deleteButton = $i18n.getText("URLField.deleteButton"))
#set ($addButton = $i18n.getText("URLField.addButton"))

## Get value, or default if no issue
#if ($issue) 
	#set ($obj = $customField.getValue($issue))
#else
	#set ($obj = $configs.default)
#end

## Index for no. of data
#set ($idx = 0)

#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
<div class="table-header" onclick="${customField.id}_togglePanel()">
	<span id="${customField.id}_URLEdit_Collapsed" style="display: none">&#11166;</span>
	<span id="${customField.id}_URLEdit_Expanded">&#11167;</span>
	<span>${customField.name}</span>
</div>
<div id="${customField.id}_URLEdit">
	<table class="edit-table">
		<thead>
			<tr>
				<th width="1%"></th>
				<th>${urlLabel}</th>
				<th>${displayTextLabel}</th>
			</tr>
		</thead>
		<tbody id="${customField.id}_customFieldPanel">
			#if ($obj)
				#if ($obj.size() > 0)
					#foreach ($item in $obj)
						<tr id="${customField.id}_fieldSet_${velocityCount}">
							<td>
								<button type="button" onclick="${customField.id}_removeURL('#${customField.id}_fieldSet_${velocityCount}')">
									<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span> ${deleteButton}
								</button>
							</td>
							<td>
								<input 	type="text" 
										placeholder="${urlHelpText}" 
										name="${customField.id}:url" 
										id="${customField.id}:url:${velocityCount}" 
										value="$!item.url" />
							</td>
							<td>
								<input 	type="text" 
										placeholder="${displayTextHelpText}" 
										name="${customField.id}:displayText" 
										id="${customField.id}:displayText:${velocityCount}" 
										value="$!item.displayText" />
							</td>
						</tr>
						#set ($idx = $velocityCount)
					#end
				#end
			#end
		</tbody>
		<tfoot>
			<tr>
				<td colspan="100%">
					<button type="button" onclick="${customField.id}_addURL()">
						<span class="aui-icon aui-icon-small aui-iconfont-add"></span> ${addButton}
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<script type="text/javascript">
	var ${customField.id}_idx = ${idx};
	function ${customField.id}_removeURL(id) {
		$(id).remove();
	}
	function ${customField.id}_addURL() {
		${customField.id}_idx++;
		var newControlHTML =
			'<tr id="${customField.id}_fieldSet_' + ${customField.id}_idx + '">' + 
			'	<td>' + 
			'		<button type="button" onclick="${customField.id}_removeURL(\'#${customField.id}_fieldSet_' + ${customField.id}_idx + '\')">' + 
			'			<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span> ${deleteButton}' + 
			'		</button>' + 
			'	</td>' + 
			'	<td>' + 
			'		<input 	type="text" ' + 
			'				placeholder="${urlHelpText}" ' + 
			'				name="${customField.id}:url" ' + 
			'				id="${customField.id}:url:' + ${customField.id}_idx + '" ' + 
			'				value="$!item.url" />' + 
			'	</td>' + 
			'	<td>' + 
			'		<input 	type="text" ' + 
			'				placeholder="${displayTextHelpText}" ' + 
			'				name="${customField.id}:displayText" ' + 
			'				id="${customField.id}:displayText:' + ${customField.id}_idx + '" ' + 
			'				value="$!item.displayText" />' + 
			'	</td>' + 
			'</tr>';
		$('#${customField.id}_customFieldPanel').append(newControlHTML);
	}
	function ${customField.id}_togglePanel() {
		if ($('#${customField.id}_URLEdit').is(":hidden")) {
			$('#${customField.id}_URLEdit').show();
			$('#${customField.id}_URLEdit_Expanded').show();
			$('#${customField.id}_URLEdit_Collapsed').hide();
		} else {
			$('#${customField.id}_URLEdit').hide();
			$('#${customField.id}_URLEdit_Expanded').hide();
			$('#${customField.id}_URLEdit_Collapsed').show();
		}
		return false;
	}
	
	JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function(e, context, reason) {
		if ($('tr[id^="${customField.id}_fieldSet_"]').length == 0) {
			${customField.id}_addURL();
		}
	});
</script>
#controlFooter ($action $customField.name $displayParameters.noHeader)