/* Box with outline, for grouping controls */
.div-box {
	width: auto;
	padding: 2px;	
	border: 1px solid black;
	margin: 2px;
}

/* Foldable table header */
.table-header, .table-header a, table-header a:hover {
	background: #0747a6 !important;
    color: #deebff !important;
    text-decoration: none !important;
    border-bottom-color: #2e3d54 !important;
}

/* Make edit mode table max width */
.edit-table {
	width: 100%;
}

/* Edit mode cell padding */
.edit-table th, .edit-table td {
	padding: 2px;
}

/* Override edit mode input size. Jira default is 100% */
.edit-table input[type="text"], .edit-table input[type="number"] {
	width: 90% !important;
}

/* View table border and padding */
.table-header th, .table-header td, .view-table, .view-table tr, .view-table th, .view-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
}