#set($newline="
")

## i18n
#set ($title = $i18n.getText('import'))

<html>
	<head>
		<title>$!{title}</title>
		<meta content="admin" name="decorator" />
		<style type="text/css" ></style>
		<script type="text/javascript">
			function submitForm(section, action, encType) {
				if (encType) {
					$('#importForm').attr('enctype', encType);
				}
				document.getElementById('section').value = section;
				document.getElementById('action').value = action;
				document.forms['importForm'].submit();
			}
			
			function selectAll(section, value) {
				if (section) {
					$('table[id="' + section + '"] input[type="checkbox"]').prop('checked', value);
					$('input[id="globalSelectAll"]').prop('checked', false);
				} else {
					var newValue = $('input[id="globalSelectAll"]').prop('checked');
					newValue = !newValue;
					$('input[id="globalSelectAll"]').prop('checked', newValue);
					$('table.section input[type="checkbox"]').prop('checked', newValue);
				}
				refreshCount(section);
			}
			
			function clearSelectAll(section) {
				$('input[id="' + section + '.selectAll"]').prop('checked', false);
				$('input[id="globalSelectAll"]').prop('checked', false);
				refreshCount(section);
			}
			
			function refreshCount(section) {
				if (section) {
					var count = 0;
					$('table[id="' + section + '"] input[type="checkbox"]').not('[id*=".selectAll"]').each(function() {
						if ($(this).prop('checked')) {
							count++;
						}
					});
					$('span[id="' + section + '_count"]').text(count);
				} else {
					$('table.section').each(function() {
						var section = $(this).prop('id');
						var count = 0;
						$(this).find('input[type="checkbox"]').not('[id*=".selectAll"]').each(function() {
							if ($(this).prop('checked')) {
								count++;
							}
						});
						$('span[id="' + section + '_count"]').text(count);
					});
				}
			}
			
			function toggleTable(section) {
				if (section != null) {
					$('table[id="' + section + '"]').toggle();
					$('span[id="' + section + '.up"]').toggle();
					$('span[id="' + section + '.down"]').toggle();
				} else {
					$('table.section').toggle();
					$('span.section').toggle();
				}
			}
		</script>
	</head>
	<body>
		<form action="ImportAction.jspa" method="post" id="importForm" enctype="application/x-www-form-urlencoded">
			<input type="hidden" id="section" name="section" value=""/> 
			<input type="hidden" id="action" name="action" value=""/>
			#set ($data = $action.getSessionData())			
			Select Data to Import: <input type="file" name="file" onchange="submitForm(null, 'parse', 'multipart/form-data')"/><br/>
			<input type="button" value="Toggle All Sections" onclick="toggleTable()"/>
			<input type="checkbox" id="globalSelectAll" style="display: none" />
			<input type="button" value="Select All Sections" onclick="selectAll(null, document.getElementById('globalSelectAll').checked)"/>
			<input type="button" value="Clear All Sections" onclick="submitForm(null, 'clear')"/>
			<input type="button" value="Import Selected" onclick="submitForm(null, 'import')"/>
			#foreach ($entry in $data.entrySet())
				<div>
					<span class="sectionTitle" onclick="toggleTable('${entry.key}')">$!{entry.value.util.getName()} (<span 
						id="${entry.key}_count">0</span><span>/$!{entry.value.importData.size()})</span></span>
					<span class="section" id="${entry.key}.up" style="display: none">&#9650;</span>
					<span class="section" id="${entry.key}.down">&#9660;</span>
					<table 	class="section ConfigMigration" 
							id="${entry.key}" 
							style="display: none">
						<thead>
							<tr>
								<th/>
								<th>Data to be Imported</th>
								<th>Matching Existing Data</th>
								<th/>
							</tr>
							<tr>
								<th><input 	type="checkbox" 
											id="${entry.key}.selectAll" 
											onclick="selectAll('${entry.key}', this.checked)"/></th>
								<th>Details</th>
								<th>Details</th>
								<th>Import Result</th>
							</tr>
						</thead>
						<tbody>
						#foreach ($item in $entry.value.importData.entrySet()) 
							<tr>
								<td>
									#if (${item.value.identical})
									#else
										#set($checked = "")
										#if ($item.value.data.isSelected())
											#set($checked = "checked")
										#end
										<input 	type="checkbox" 
												name="${entry.key}.select" 
												value="${item.key}"
												onclick="clearSelectAll('${entry.key}')" 
												${checked} />
									#end
								</td>
								<td width="50%">
									<div><h3>$!{item.value.data.uniqueKey}</h3></div>
									<table 	class="ConfigMigration"
											style="width: 440px; table-layout: fixed;">
										<thead>
											<tr>
												<th width="40%">Property</th>
												<th width="60%">Value</th>
											</tr>
										</thead>
										<tbody>
										#foreach ($kv in $item.value.data.getMap().entrySet())
											<tr>
												#set ($different = "")
												#if ($item.value.isKeyDifferent($kv.key))
													#set ($different = "different")
												#end
												<td class="$!{different}">$!{kv.key}</td>
												<td>$!{kv.value}</td>
											</tr>
										#end
										</tbody>
									</table>
								</td>
								<td width="50%">
									<div><h3>$!{item.value.server.uniqueKey}</h3></div>
									<table 	class="ConfigMigration"
											style="width: 440px; table-layout: fixed;">
										<thead>
											<tr>
												<th width="40%">Property</th>
												<th width="60%">Value</th>
											</tr>
										</thead>
										<tbody>
										#foreach ($kv in $item.value.server.getMap().entrySet())
											<tr>
												#set ($different = "")
												#if ($item.value.isKeyDifferent($kv.key))
													#set ($different = "different")
												#end
												<td class="$!{different}">$!{kv.key}</td>
												<td>$!{kv.value}</td>
											</tr>
										#end
										</tbody>
									</table>
								</td>
								<td width="20%">$!{item.value.importResult}</td>  
							</tr>
						#end
						</tbody>
					</table>
				</div>
			#end
		</form>
		<textarea rows="10" cols="100">$!{action.debug}</textarea>
	</body>
</html>