<html>
	<head>
		<title>Manage Exports</title>
		<script type="text/javascript">
			function downloadExport(id) {
				// Create link to new tab and trigger it
				var element = document.createElement('a');
				element.setAttribute(
						'href', 
						AJS.contextPath() + '/plugins/servlet/configmigrationdownload?id=' + id);
				document.body.appendChild(element);
				element.click();
				document.body.removeChild(element);
			}
		
			function deleteExport() {
				document.forms['main'].submit();
			}
		</script>
	</head>
	<body>
		<div class="ConfigMigration">
			<form action="ManageExport.jspa" method="POST" id="main">
				<input type="hidden" id="action" name="action" value="delete"/>
				<table>
					<thead>
						<th>
							<input type="checkbox" onclick="$('input#idList').attr('checked', this.checked)"/>
						</th>
						<th>Description</th>
						<th>Export By</th>
						<th>Export Date</th>
						<th></th>
					</thead>
					<tbody>
						#if ($action.getExportData().size() != 0)
							#foreach ($item in $action.getExportData())
								<tr>
									<td>
										<input type="checkbox" id="idList" name="idList" value="${item.getID()}"/>
									</td>
									<td>$!{item.getDescription()}</td>
									<td>$!{action.getUserInfo($item.getExportUser())}</td>
									<td>$!{action.formatDate($item.getExportDate())}</td>	
									<td>
										<input type="button" value="Download" 
											onclick="downloadExport('${item.getID()}')"/>
									</td>				
								</tr>
							#end
							<tr>
								<td colspan="100%">
									<input type="button" value="Delete Selected" onclick="deleteExport()"/>
								</td>
							</tr>
						#else
							<tr>
								<td colspan="100%">No Export Data</td>
							</tr>
						#end
					</tbody>
				</table>
			</form>
		</div>
	</body>
</html>