<html>
	<head>
		<title>Manage Exports</title>
		<script type="text/javascript">
			function download(id, type) {
				// Create link to new tab and trigger it
				var element = document.createElement('a');
				element.setAttribute(
						'href', 
						AJS.contextPath() + '/plugins/servlet/configmigrationreport?id=' + id + "&type=" + type);
				document.body.appendChild(element);
				element.click();
				document.body.removeChild(element);
			}
		
			function deleteExport() {
				document.forms['main'].submit();
			}
		</script>
	</head>
	<body>
		<div class="ConfigMigration">
			<form action="ManageReport.jspa" method="POST" id="main">
				<input type="hidden" id="action" name="action" value="delete"/>
				<table>
					<thead>
						<tr>
							<th rowspan="2">
								<input type="checkbox" onclick="$('input#idList').attr('checked', this.checked)"/>
							</th>
							<th rowspan="2">Description</th>
							<th colspan="3">No. of Projects</th>
							<th colspan="3">No. of Objects</th>
							<th rowspan="2">Merged By</th>
							<th rowspan="2">Merged Date</th>
							<th rowspan="2"></th>
						</tr>
						<tr>
							<th>Success</th>
							<th>Failure</th>
							<th>Total</th>
							<th>Success</th>
							<th>Failure</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						#if ($action.getReportData().size() != 0)
							#foreach ($item in $action.getReportData())
								<tr>
									<td>
										<input type="checkbox" id="idList" name="idList" value="${item.getID()}"/>
									</td>
									<td>$!{item.getDescription()}</td>
									<td>$!{item.getSuccessProjectCount()}</td>
									<td>$!{item.getFailedProjectCount()}</td>
									<td>$!{item.getTotalProjectCount()}</td>
									<td>$!{item.getSuccessObjectCount()}</td>
									<td>$!{item.getFailedObjectCount()}</td>
									<td>$!{item.getTotalObjectCount()}</td>
									<td>$!{action.getUserInfo($item.getMergeUser())}</td>
									<td>$!{action.formatDate($item.getMergeDate())}</td>	
									<td>
										<input type="button" value="Report" 
											onclick="download('${item.getID()}', 'report')"/>
										<input type="button" value="Import Data" 
											onclick="download('${item.getID()}', 'importData')"/>
									</td>
								</tr>
							#end
							<tr>
								<td colspan="100%">
									<input type="button" value="Delete Selected" onclick="deleteExport()"/>
								</td>
							</tr>
						#else
							<tr>
								<td colspan="100%">No Report Data</td>
							</tr>
						#end
					</tbody>
				</table>
			</form>
		</div>
	</body>
</html>