<html>
	<head>
		<title>Export</title>
		<meta content="admin" name="decorator" />
		<script type="text/javascript">
		
			// Selected export/import objects for current selections.
			// Actual state is stored in property of JiraConfigDTO items in DTOStore
			// Key is from getSelectionKey()
			// Value is from getSelectionItem()
			var selectedImports = {};
			var selectedExports = {};
		
			function submitForm(action) {
				// Show loading panel
				// TODO
				// Submit
				document.getElementById('action').value = action;
				window.onbeforeunload = null;
				document.forms['mainForm'].submit();
			}
			
			var delayedSubmitId = null;
			function delayedSubmitForm(delay, action) {
				if (delayedSubmitId != null) {
					clearTimeout(delayedSubmitId);
				}
				delayedSubmitId = setTimeout(function() {
					submitForm(action);
				}, delay);
			}
			
			function getSelectionKey(util, uniqueKey) {
				return util + '|' + uniqueKey;
			}
			
			function getSelectionItem(selected, util, uniqueKey) {
				var item = {
					utilName: util,
					uniqueKey: uniqueKey,
					selected: selected
				};
				return item;
			}
			
			function view(util, uniqueKey) {
				var value = getSelectionItem(false, util, uniqueKey);
				$('input#viewExport').val(JSON.stringify(value));
				submitForm('viewExport');
			}
			
			function viewJump(util, uniqueKey) {
				var value = getSelectionItem(false, util, uniqueKey);
				$('input#viewExport').val(JSON.stringify(value));
				submitForm('viewExportJump');
			}
			
			function viewAdd(util, uniqueKey) {
				var value = getSelectionItem(false, util, uniqueKey);
				$('input#viewExport').val(JSON.stringify(value));
				submitForm('viewExportAdd');
			}
			
			function updateExportSelection(checkbox, selectClass, selectAllClass) {
				if (checkbox) {
					// Update single checkbox
					var util = $(checkbox).attr('util');
					var uniqueKey = $(checkbox).attr('uniqueKey');
					var selected = ($(checkbox).attr('checked') == 'checked');
					// Update selectedExports map
					var key = getSelectionKey(util, uniqueKey);
					var value = getSelectionItem(selected, util, uniqueKey);
					selectedExports[key] = value;
				} else {
					if (selectClass != null) {
						// Update all checkboxes of specified util class
						$('input[type="checkbox"].' + selectClass).each(function() {
							var util = $(this).attr('util');
							var uniqueKey = $(this).attr('uniqueKey');
							var selected = ($(this).attr('checked') == 'checked');
							// Update selectedExports map
							var key = getSelectionKey(util, uniqueKey);
							var value = getSelectionItem(selected, util, uniqueKey);
							selectedExports[key] = value;
						});					
					} else {
						// Update all checkboxes of all util classes
						$('input[type="checkbox"][util][uniqueKey]').each(function() {
							var util = $(this).attr('util');
							var uniqueKey = $(this).attr('uniqueKey');
							var selected = ($(this).attr('checked') == 'checked');
							// Update selectedExports map
							var key = getSelectionKey(util, uniqueKey);
							var value = getSelectionItem(selected, util, uniqueKey);
							selectedExports[key] = value;
						});					
					}
				}
				// Create value list
				var out = [];
				var valueList = Object.values(selectedExports);
				for (var i in valueList) {
					out.push(valueList[i]);
				}
				// Turn off select all checkbox
				if (selectAllClass) {
					$('input.' + selectAllClass).attr('checked', false);
				}
				// Update hidden field
				$('input#selectedExports').val(JSON.stringify(out));
				// Enable button
				$('input#select').attr('disabled', false);
			}
			
			var selectAllState = false;
			function selectAllExport(selectClass, value) {
				if (selectClass != null) {
					$('input[type="checkbox"].' + selectClass).attr('checked', value);
				} else {
					$('input[type="checkbox"][util][uniqueKey]').attr('checked', value);
					selectAllState = value;
				}
				updateExportSelection(null, selectClass, null);
			}
			
			function exportData() {
				// Show dialog to get description
				AJS.dialog2("#static-dialog").show();
			}
			
			// Dialog event handlers
			AJS.$(document).on("click", "#dialogOK", function (e) {
			    e.preventDefault();
			    var desc = $('input#descriptionInput').val();
			    AJS.dialog2("#static-dialog").hide();
			    $('input#exportDesc').val(desc);
			    submitForm('export');
			});
			AJS.$(document).on("click", "#dialogCancel", function (e) {
			    e.preventDefault();
			    AJS.dialog2("#static-dialog").hide();
			});
		</script>
	</head>
	<body>
	
		<!-- Hidden dialog -->
		<section 	id="static-dialog" 
					class="aui-dialog2 aui-dialog2-medium aui-layer" 
					aria-hidden="true"
					role="dialog">
		    <!-- Dialog header -->
		    <header class="aui-dialog2-header">
		        <!-- The dialog's title -->
		        <h2 class="aui-dialog2-header-main">Please enter a description for the export</h2>
		        <!-- Close icon -->
		        <!-- 
		        <a class="aui-dialog2-header-close">
		            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
		        </a>
		        -->
		    </header>
		    <!-- Main dialog content -->
		    <div class="aui-dialog2-content">
				<span>Description: </span>
				<input type="text" id="descriptionInput" name="descriptionInput" value=""/>
		    </div>
		    <!-- Dialog footer -->
		    <footer class="aui-dialog2-footer">
		        <!-- Actions to render on the right of the footer -->
		        <div class="aui-dialog2-footer-actions">
		            <button id="dialogOK" class="aui-button aui-button-primary">OK</button>
		            <button id="dialogCancel" class="aui-button aui-button-link">Cancel</button>
		        </div>
		        <!-- Hint text is rendered on the left of the footer -->
		        <div class="aui-dialog2-footer-hint"></div>
		    </footer>
		</section>

		<div class="ConfigMigration">
			<form action="ExportAction2.jspa" method="post" id="mainForm" onkeydown="return event.key != 'Enter';">
				<input type="hidden" id="action" name="action" value=""/>
				<input 	type="hidden" 
						id="selectedExports" name="selectedExports" 
						value="[]"/>
				<input 	type="hidden" 
						id="viewExport" name="viewExport" 
						value=""/>
				<input  type="hidden"
						id="exportDesc" name="exportDesc"
						value=""/>
				<div style="display: flex; flex-flow: column nowrap; max-height: 100%">
					<!-- Toolbar -->
					<div style="flex: 1 1 auto">
						<div>
							<span style="font-weight: bold">Select/Deselect Dependencies</span>
							SelectNested: ${action.getSelectNested()}
							<select id="selectNested" name="selectNested">
								#if ($action.getSelectNested() == $true)
									<option value="true" selected>Automatically</option>
									<option value="false">Manually</option>
								#else
									<option value="true">Automatically</option>
									<option value="false" selected>Manually</option>
								#end
							</select>
							<input type="button" id="select" value="Update Selection" onclick="submitForm('select')" disabled/>
							<input 	type="button" 
									value="Select All/None"
									onclick="selectAllExport(null, !selectAllState)"
							/>
							<input type="button" id="reload" value="Reload" onclick="submitForm('reload')"/>
							<input type="button" id="export" value="Export" onclick="exportData()"/>
							<input type="button" id="upload" value="Upload"/>
							<input type="button" id="import" value="Import"/>
						</div>
						<div>
							<span style="font-weight: bold">Object Type: </span>
							<select id="objectType" name="objectType"
									value="$!{action.getObjectType()}" 
									style="width: 20%"
									onchange="submitForm('objectType')">
								#if ($action.getObjectType().length() == 0) 
									<option selected value="">All</option>
								#else
									<option value="">All</option>
								#end
								#foreach ($item in $action.getObjectTypes().entrySet())
									#if ($item.getValue() == $action.getObjectType())
										<option selected value="$!{item.getValue()}">${item.getKey()}</option>
									#else
										<option value="$!{item.getValue()}">${item.getKey()}</option>
									#end
								#end
							</select>
							#if ($action.getObjectType() != "") 
								<span style="font-weight: bold">
									Selected $!{action.getObjectTypeName()}: 
									$!{action.getExportStore().getSelectedCount($action.getObjectType())} 
									/ 
									$!{action.getExportStore().getTotalCount($action.getObjectType())}
								</span>
							#end
							<span style="font-weight: bold">
								Selected Objects: 
								$!{action.getExportStore().getSelectedCount($null)} 
								/ 
								$!{action.getExportStore().getTotalCount($null)}
							</span>
						</div>
					</div>
					<!-- 3 columns -->
					<div style="flex: 1 1 auto; max-height: 30vh; overflow-y: auto">
						<table class="ConfigMigration" style="flex: 1 1 auto">
							<tr>
								<td width="45%">
									<!-- filteredResult -->
									<table class="ConfigMigration">
										<thead>
											<tr>
												<td colspan="100%">
													<span style="font-weight: bold">Filter: </span>
													<input 	type="text" 
															id="exportFilter" name="exportFilter"
															value="$!{action.getExportFilter()}" 
															style="width: 35%" 
															onkeydown="if (event.key == 'Enter') { $('input#exportFilterApply').click(); }"
															onkeyup="$('input#exportFilterApply').attr('disabled', false)"/>
													<input 	type="button"
															id="exportFilterApply"
															disabled
															value="Apply"
															onclick="submitForm('exportFilter')"/>
												</td>
											</tr>
										</thead>
										<tbody>
										#foreach ($util in $action.getExportStore().getUtils())
											#set ($showUtil = $true)
											#if ($action.getObjectType().length() != 0)
												#if (!$util.getImplementation().equals($action.getObjectType()))
													#set ($showUtil = $false)
												#end
											#end
											#if ($showUtil)			
												#set ($selectClass = $util.getImplementationCSS())
												#set ($selectAllClass = $selectClass + "-All")
												<tr>
													<th colspan="100%">
														<input 	type="checkbox"
																class="$!{selectAllClass}"
																onchange="selectAllExport('$!{selectClass}', this.checked)"
														/>
														${util.getName()}
													</th>
												</tr>
												#if ($action.getExportStore().getTypeStore($util).size() == 0)
													<tr>
														<td colspan="100%">No objects found</td>
													</tr>
												#else
													#set ($objFound = $false)
													#foreach ($obj in $action.getExportStore().getTypeStore($util))
														#if ($util.matchFilter($obj, $action.getExportFilter()))
															#set ($objFound = $true)
															#if ($obj.isSelected())
																#set ($checked = "checked")
															#else
																#set ($checked = "")
															#end
															<tr>
																<td>
																	<input 	type="checkbox" 
																			class="$!{selectClass}"
																			$!{checked}
																			util="$!{util.getImplementation()}"
																			uniqueKey="$!{obj.getUniqueKey()}"
																			onchange="updateExportSelection(this, null, '$!{selectAllClass}')"/>
																</td>
																<td width="100%">
																	<a href="#" onclick="view(
																			'$!{util.getImplementation()}', 
																			'$!{obj.getUniqueKeyJS()}')">
																		#if ($obj.getConfigName())
																			$!{obj.getConfigName()}
																		#else
																			(Default)
																		#end
																	</a>
																</td>
															</tr>
														#end
													#end
													#if ($objFound == $false)
														<tr>
															<td colspan="2">No objects match filter</td>
														</tr>
													#end
												#end
											#end
										#end
										</tbody>
									</table>
								</td>
								<td width="10%">
								</td>
								<td width="45%">
								</td>
							</tr>
						</table>
					</div>
					<!-- Details -->
					<div style="flex: 1 1 auto; max-height: 30vh; overflow-y: auto">
						#foreach ($item in $action.getViewHistory())
							<span style="font-weight: bold">
								&gt; <a href="#" onclick="viewJump(
										'$!{item.getUtil()}', 
										'$!{item.getUniqueKeyJS()}')">
									$!{item.getType()}: $!{item.getDisplay()}
								</a>
							</span>
						#end
					</div>
					<!-- Details -->
					<div style="flex: 1 1 auto; max-height: 20vh; overflow-y: auto">
						#if ($action.getView())
							<table class="ConfigMigration" style="flex: 1 1 auto">
								<tbody>
									#foreach ($item in $action.getView().entrySet())
										<tr>
											<th width="30%">$!{item.getKey()}</th>
											#if ($item.getValue().getType() == "TEXT")
												<td width="70%">$!{item.getValue().getValue()}</td>
											#end
											#if ($item.getValue().getType() == "LIST")
												<td width="70%">
													#foreach ($prop in $item.getValue().getList())
														<div>
															<a href="#" onclick="viewAdd(
																	'$!{prop.getUtil()}', 
																	'$!{prop.getUniqueKeyJS()}')">
																$!{prop.getDisplay()}
															</a>
														</div>
													#end
												</td>
											#end
											#if ($item.getValue().getType() == "MAP")
												<td width="70%">
													#foreach ($prop in $item.getValue().getMap().entrySet())
														<div>
															$!{prop.getKey()}: 
															<a href="#" onclick="viewAdd(
																	'$!{prop.getValue().getUtil()}', 
																	'$!{prop.getValue().getUniqueKeyJS()}')">
																$!{prop.getValue().getDisplay()}
															</a>
														</div>
													#end
												</td>
											#end
										</tr>
									#end
								</tbody>
							</table>
						#end
					</div>
					$!{action.errorMessage}
				</div>
			</form>
		</div>
	</body>
</html>