#macro(displayPojo $pojo)
	<div class="treeDiv">
		#if ($level > 0)
			#foreach ($i in [1..$level])
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			#end
		#end
		#if ($pojo.getChildren().size() != 0)
			<span class="tableControl tableControlPlus" onclick="toggleTree(this)">
		#else
			<span>
		#end
		<label>
			#if ($pojo.isPartMappable())
				<a href="#" onclick="loadPart('${pojo.hashCode()}')">${pojo.getPartDisplayName()}</a>
				#if ($pojo.hashCode() == $action.getEditingWorkflowPartWrapper().getWorkflowPart().hashCode())
					<span style="font-weight: bold" class="scrollIntoView">[SELECTED]</span>
				#end
			#else
				${pojo.getPartDisplayName()}
				#if ($pojo.hashCode() == $action.getEditingWorkflowPartWrapper().getWorkflowPart().hashCode())
					<span style="font-weight: bold" class="scrollIntoView">[SELECTED]</span>
				#end
			#end
		</label>
		</span>
		<div class="treeChildDiv">
			#if ($parentXPath != $null && $parentXPath.length() != 0)
				#set ($parentXPath = $parentXPath + "/" + $pojo.getPartXPath())
			#else
				#set ($parentXPath = $pojo.getPartXPath())
			#end
			#set ($level = $level + 1)
			#foreach ($child in $pojo.getChildren())
				#displayPojo($child)
			#end
			#if ($parentXPath)
				#set ($endIndex = $parentXPath.indexOf($pojo.getPartXPath()) - 1)
				#if ($endIndex < 0) 
					#set ($endIndex = 0)
				#end
				#set ($parentXPath = $parentXPath.substring(0, $endIndex))
			#end
			#set ($level = $level - 1)
		</div>
	</div>
#end

<html>
	<head>
		<title>Workflow Mapper</title>
		<meta content="admin" name="decorator" />
		<script type="text/javascript">
			var mappingUpdatedFlag = false;
			function mappingUpdated() {
				mappingUpdatedFlag = true;
			}
			AJS.$(document).on('click', '#confirm-dialogOK', function (e) {
			    e.preventDefault();
			    mappingUpdatedFlag = false;
			    loadMap();
			});
			AJS.$(document).on('click', '#confirm-dialogCancel', function (e) {
			    e.preventDefault();
			    AJS.dialog2('#confirm-dialog').hide();
			    $('select#mapping').val(mapping);
			});
			var treeAll = true;
			function toggleTreeAll() {
				treeAll = !treeAll;
				if (treeAll) {
					$('div.treeChildDiv').show();
					$('span.tableControl').addClass('tableControlPlus');
					$('span.tableControl').removeClass('tableControlMinus');
				} else {
					$('div.treeChildDiv').hide();
					$('span.tableControl').removeClass('tableControlPlus');
					$('span.tableControl').addClass('tableControlMinus');
				}
			}
			function toggleTree(ctrl) {
				$(ctrl).next('div.treeChildDiv').slideToggle();
				$(ctrl).toggleClass('tableControlPlus tableControlMinus');
				treeAll = false;
			}
			function loadPart(partId) {
				document.getElementById('action').value = 'loadPart';
				document.getElementById('part').value = partId;
				window.onbeforeunload = null;
				document.forms['mainForm'].submit();
			}
			var mapping = '$!{action.getMapping().getConfig().getID()}';	// Store original value of mapping select
			function loadMap() {
				if (mappingUpdatedFlag) {
					AJS.dialog2('#confirm-dialog').show();
				} else {
					document.getElementById('action').value = 'loadMapping';
					window.onbeforeunload = null;
					document.forms['mainForm'].submit();
				}
			}
			function submitForm(action) {
				document.getElementById('action').value = action;
				window.onbeforeunload = null;
				document.forms['mainForm'].submit();
			}
			function scrollToSelectedPart() {
				var ctrl = $('span.scrollIntoView')[0];
				if (ctrl) {
					ctrl.scrollIntoView();
				}
			}
		</script>
	</head>
	<body>
	
		<!-- Confirm dialog -->
		<section 	id="confirm-dialog" 
					class="aui-dialog2 aui-dialog2-medium aui-layer" 
					aria-hidden="true"
					role="dialog">
		    <!-- Dialog header -->
		    <header class="aui-dialog2-header">
		        <!-- The dialog's title -->
		        <h2 class="aui-dialog2-header-main">You have unsaved changes in mapping</h2>
		        <!-- Close icon -->
		        <!-- 
		        <a class="aui-dialog2-header-close">
		            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
		        </a>
		        -->
		    </header>
		    <!-- Main dialog content -->
		    <div class="aui-dialog2-content">
		    	<h4>Are you sure to discard them?</h4>
		    </div>
		    <!-- Dialog footer -->
		    <footer class="aui-dialog2-footer">
		        <!-- Actions to render on the right of the footer -->
		        <div class="aui-dialog2-footer-actions">
		            <button id="confirm-dialogOK" class="aui-button aui-button-primary">Discard Changes</button>
		            <button id="confirm-dialogCancel" class="aui-button aui-button-link">Cancel</button>
		        </div>
		        <!-- Hint text is rendered on the left of the footer -->
		        <div class="aui-dialog2-footer-hint"></div>
		    </footer>
		</section>
	
		<!-- 
			List of mappers:
				Option to enable/disable
				Export/import
				
			Each mapper:
				Name/Description
				Target type? Validator/Function/etc?
				XPath from selecting item from workflow/XML?
				Replace items
				Item type... which object?
				Item reference type... unique key or internal ID?
				Lookup interface to check settings
		-->
		<form action="WorkflowMapper.jspa" method="post" id="mainForm">
			<input type="hidden" id="action" name="action" value=""/>
			<input type="hidden" id="part" name="part" value=""/>
			<table class="ConfigMigration">
				<tr>
					<td width="50%">
						<label>Select Workflow as Template: </label>
						<select name="workflow" onchange="submitForm('loadWorkflow')">
							<option value="">Select a workflow</option>
							#foreach ($item in $action.getWorkflows())
								#set ($selected = "")
								#if ($action.getSelectedWorkflow().equals($item.getName()))
									#set ($selected = "selected")
								#end
								<option value="$!{item.getName()}" ${selected}>$!{item.getName()}</option>
							#end
						</select>
					</td>
					<td width="50%">
						<label>Select Mapping: </label>
						<select id="mapping" name="mapping" onfocus="mapping = this.value;" onchange="loadMap()">
							<option value="">Select a mapping</option>
							#foreach ($item in $action.getMappings().entrySet())
								#set ($selected = "")
								#if ($action.getMapping())
									#if ($item.getValue().getxPath() == $action.getMapping().getxPath())
										#set ($selected = "selected")
									#end
								#end
								#set ($disabled = "")
								#if ($item.getValue().isDisabled())
									#set ($disabled = " [Disabled]")
								#end
								<option ${selected} value="${item.getKey()}">${item.getValue().getDescription()}${disabled}</option>
							#end
						</select>
						<input type="button" onclick="submitForm('createMapping')" value="Create Mapping"/>
					</td>
				</tr>
				<tr>
					<td>
						#if ($action.getWorkflow())
							<textarea rows="5" style="width: 95%">$!{action.getXml()}</textarea><br/>
							<span onclick="toggleTreeAll()"><a href="#">(Toggle All Levels)</a></span><br/>
							<div style="overflow: auto; width: 100%; height: 40vh;">
								#set ($level = 0)
								#set ($parentXPath = "")
								#displayPojo($action.getWorkflow())
							</div>
							#set ($data = $action.getEditingWorkflowPartWrapper())
							#if ($data)
								<h3>${data.getWorkflowPart().getPartDisplayName()} <input type="button" onclick="scrollToSelectedPart()" value="Locate in Tree"/></h3>
								<table class="ConfigMigration">
									<tr>
										<th>XPath</th>
										<td>${data.getXPath()}</td>
									</tr>
									<tr>
										<th>Name</th>
										<td>${data.getWorkflowPart().getName()}</td>
									</tr>
									<tr>
										<th>Value</th>
										<td>${data.getWorkflowPart().getValue()}</td>
									</tr>
								</table>
								<hr/>
							#end
						#else
							<span>Select a workflow as template</span>
						#end
					</td>
					<td style="vertical-align: top;">
						#if ($action.getMapping())
							<table class="ConfigMigration">
								<tr>
									<th width="20%">Description</th>
									<td width="80%">
										<input style="width: 95%" type="text" name="mappingDesc" value="$!{action.getMapping().getDescription()}" onchange="mappingUpdated()"/>
									</td>
								</tr>
								<tr>
									<th>
										<span>XPath</span>
										<div>
											#set ($disabled = "disabled")
											#if ($action.getWorkflow())
												#set ($disabled = "")
											#end
											<input type="button" onclick="submitForm('resetPartSearch')" value="Reset Find" ${disabled} />
											<input type="button" onclick="submitForm('nextPart')" value="Find Next" ${disabled} />
											<span>$!{action.getSearchResult()}</span>
										</div>
									</th>
									<td>
										<textarea style="width: 95%" name="mappingXPath" rows="5" onchange="mappingUpdated()">$!{action.getMapping().getxPath()}</textarea>
									</td>
								</tr>
								<tr>
									<th>Is the value an array: </th>
									<td>
										<select name="mappingArray" onchange="mappingUpdated()">
											#if ($action.getMapping().isArray())
												<option selected value="true">Yes</option>
												<option value="false">No</option>
											#else
												<option value="true">Yes</option>
												<option selected value="false">No</option>
											#end
										</select>
									</td>
								</tr>
								<tr>
									<th>Value object type: </th>
									<td>
										<select name="mappingObjectType" onchange="mappingUpdated()">
											<option selected value="">Select an object type</option>
											#foreach ($item in $action.getObjectTypes().entrySet())
												#set ($selected = "")
												#if ($action.getMapping().getObjectType() == $item.getValue())
													#set ($selected = "selected")
												#end
												<option ${selected} value="${item.getValue()}">${item.getKey()}</option>
											#end
										</select>
									</td>
								</tr>
								<tr>
									<th>Status: </th>
									<td>
										<select name="mappingDisabled" onchange="mappingUpdated()">
											#if ($action.getMapping().isDisabled())
												<option selected value="true">Disabled</option>
												<option value="false">Enabled</option>
											#else
												<option value="true">Disabled</option>
												<option selected value="false">Enabled</option>
											#end
										</select>
									</td>
								</tr>
								<tr>
									<th>Lookup Test: </th>
									<td>
										Object info here
									</td>
								</tr>
								<tr>
									<td colspan="100%">
										#if ($action.getMapping().getConfig())
											<input type="button" onclick="submitForm('saveMapping')" value="Save"/>
											<input type="button" onclick="submitForm('deleteMapping')" value="Delete"/>
										#else
											<input type="button" onclick="submitForm('saveMapping')" value="Create"/>
											<input type="button" onclick="submitForm('deleteMapping')" value="Delete" disabled/>
										#end
										
									</td>
								</tr>
							</table>
							<hr/>
						#else
							<span>Please select an item in the tree or select a mapping above</span>
						#end								
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
			scrollToSelectedPart();
		</script>
	</body>
</html>