#macro(displayPojo $pojo)
	#if ($level > 0)
		#foreach ($i in [1..$level])
			&nbsp;&nbsp;&nbsp;
		#end
	#end
	<label>${pojo.getWorkflowPartDisplayName()}</label><br/>
	#set ($level = $level + 1)
	#foreach ($child in $pojo.getChildren())
		#displayPojo($child)
	#end
	#set ($level = $level - 1)
#end

<html>
	<head>
		<title>Workflow Mapper</title>
		<meta content="admin" name="decorator" />
		<script type="text/javascript">
			function submitForm(action) {
				document.getElementById('action').value = action;
				window.onbeforeunload = null;
				document.forms['mainForm'].submit();
			}
		</script>
	</head>
	<body>
		<!-- 
			List of mappers:
				Option to enable/disable
				Export/import
				
			Each mapper:
				Name/Description
				Target type? Validator/Function/etc?
				XPath from selecting item from workflow/XML?
				Replace items
				Item type... which object?
				Item reference type... unique key or internal ID?
				Lookup interface to check settings
		-->
		<form action="WorkflowMapper.jspa" method="post" id="mainForm">
			<input type="hidden" id="action" name="action" value=""/>
			<div>
				<label>Select Workflow: </label>
				<select name="workflow" onchange="submitForm('loadWorkflow')">
					<option value="">Select a workflow</option>
					#foreach ($item in $action.getWorkflows())
						#set ($selected = "")
						#if ($action.getSelectedWorkflow().equals($item.getName()))
							#set ($selected = "selected")
						#end
						<option value="$!{item.getName()}" ${selected}>$!{item.getName()}</option>
					#end
				</select>
			</div>
			<div>
				<textarea rows="5" cols="200">$!{action.getXml()}</textarea>
			</div>
			#if ($action.getWorkflow())
				#set ($level = 0)
				#displayPojo($action.getWorkflow())
			#end
		</form>
	</body>
</html>