<html>
	<head>
		<title>Worklow Mapping Manager</title>
		<meta content="admin" name="decorator" />
		<script type="text/javascript">
			function submitForm(action) {
				document.getElementById('action').value = action;
				window.onbeforeunload = null;
				document.forms['mainForm'].submit();
			}
			function selectAll(value) {
				$('input[type="checkbox"]').attr('checked', value);
			}
		</script>
	</head>
	<body>
		<form action="WorkflowMappingManager.jspa" method="post" id="mainForm">
			<input type="hidden" id="action" name="action" value=""/>
			<table class="ConfigMigration">
				<thead>
					<tr>
						<td colspan="100%">
							<input type="button" onclick="submitForm('enable')" value="Enable Selected" />
							<input type="button" onclick="submitForm('disable')" value="Disable Selected" />
							<input type="button" onclick="submitForm('delete')" value="Delete Selected" />
						</td>
					</tr>
					<tr>
						<th>
							<input type="checkbox" onchange="selectAll(this.checked)"/>
						</th>
						<th>Description</th>
						<th>Status</th>
						<th>XPath</th>
						<th>Regex</th>
						<th>Capture Groups</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					#foreach ($item in $action.getMappings().entrySet())
						<tr>
							<td>
								<input name="mapping" type="checkbox" value="${item.getValue().getId()}"/>
							</td>
							<td>${item.getValue().getDescription()}</td>
							<td>
								#if ($item.getValue().isDisabled())
									<span>Disabled</span>
								#else
									<span>Enabled</span>
								#end
							</td>
							<td>${item.getValue().getxPath()}</td>
							<td>${item.getValue().getRegex()}</td>
							<td>${item.getValue().getCaptureGroups()}</td>
							<td><a href="${action.getEditLink($item.getValue().getId())}">Edit</a></td>
						</tr>
					#end
				</tbody>
			</table>
		</form>
	</body>
</html>