<html>
	<head>
		<title>Worklow Mapping Manager</title>
		<meta content="admin" name="decorator" />
		<script type="text/javascript">
			function importMapping() {
				AJS.dialog2('#import-dialog').show();
			}
			AJS.$(document).on('click', '#import-dialogOK', function (e) {
			    e.preventDefault();
			    $('#importForm').submit();
			});
			AJS.$(document).on('click', '#import-dialogCancel', function (e) {
			    e.preventDefault();
			    AJS.dialog2('#import-dialog').hide();
			});
			
			function submitForm(action) {
				document.getElementById('action').value = action;
				window.onbeforeunload = null;
				document.forms['mainForm'].submit();
			}
			function selectAll(value) {
				$('input[name="mapping"]').attr('checked', value);
				checkButtons();
			}
			function confirmDelete() {
				document.getElementById('delete-dialog-content').innerHTML = '';
				$('input[name="mapping"]').each(function() {
					if ($(this).attr('checked')) {
						document.getElementById('delete-dialog-content').innerHTML += 
							$(this).attr('desc') + '<br/>';
					}
				});
				AJS.dialog2('#delete-dialog').show();
			}
			AJS.$(document).on('click', '#delete-dialogOK', function (e) {
			    e.preventDefault();
			    submitForm('delete');
			});
			AJS.$(document).on('click', '#delete-dialogCancel', function (e) {
			    e.preventDefault();
			    AJS.dialog2('#delete-dialog').hide();
			});
			function checkButtons() {
				var itemSelected = false;
				$('input[name="mapping"]').each(function() {
					if ($(this).attr('checked')) {
						itemSelected = true;
					}
				});
				$('input#exportBtn').attr('disabled', !itemSelected);
				$('input#enableBtn').attr('disabled', !itemSelected);
				$('input#disableBtn').attr('disabled', !itemSelected);
				$('input#deleteBtn').attr('disabled', !itemSelected);
			}
		</script>
	</head>
	<body>
	
		<form id="downloadForm" action="" method="GET">
		</form>
		
		<!-- Import dialog -->
		<section 	id="import-dialog" 
					class="aui-dialog2 aui-dialog2-medium aui-layer" 
					aria-hidden="true"
					role="dialog">
		    <!-- Dialog header -->
		    <header class="aui-dialog2-header">
		        <!-- The dialog's title -->
		        <h2 class="aui-dialog2-header-main">Please select file to import</h2>
		        <!-- Close icon -->
		        <!-- 
		        <a class="aui-dialog2-header-close">
		            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
		        </a>
		        -->
		    </header>
		    <!-- Main dialog content -->
		    <!-- action="/jira/plugins/servlet/configmigrationupload" -->
		    <!-- action="ExportAction2.jspa" -->
		    <div class="aui-dialog2-content">
				<form 	id="importForm" 
						method="post" 
						action="${action.getUploadServlet()}"
						encType="multipart/form-data">
					<span>Select File: </span>
					<input 	type="file" 
							id="importFile" 
							name="importFile" 
							accept=".json,.zip"
							value=""/>
				</form>
				<span style="font-weight: bold; color: red">Note: Mappings will be overwritten if they have the same name.</span>
		    </div>
		    <!-- Dialog footer -->
		    <footer class="aui-dialog2-footer">
		        <!-- Actions to render on the right of the footer -->
		        <div class="aui-dialog2-footer-actions">
		            <button id="import-dialogOK" class="aui-button aui-button-primary">OK</button>
		            <button id="import-dialogCancel" class="aui-button aui-button-link">Cancel</button>
		        </div>
		        <!-- Hint text is rendered on the left of the footer -->
		        <div class="aui-dialog2-footer-hint"></div>
		    </footer>
		</section>
	
		<!-- Delete confirmation dialog -->
		<section 	id="delete-dialog" 
					class="aui-dialog2 aui-dialog2-medium aui-layer" 
					aria-hidden="true"
					role="dialog">
		    <!-- Dialog header -->
		    <header class="aui-dialog2-header">
		        <!-- The dialog's title -->
		        <h2 class="aui-dialog2-header-main">You are deleting the following mappings</h2>
		        <!-- Close icon -->
		        <!-- 
		        <a class="aui-dialog2-header-close">
		            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
		        </a>
		        -->
		    </header>
		    <!-- Main dialog content -->
		    <div class="aui-dialog2-content">
		    	<div id="delete-dialog-content"/>
		    	<h4>Are you sure to delete them?</h4>
		    </div>
		    <!-- Dialog footer -->
		    <footer class="aui-dialog2-footer">
		        <!-- Actions to render on the right of the footer -->
		        <div class="aui-dialog2-footer-actions">
		            <button id="delete-dialogOK" class="aui-button aui-button-primary">Delete</button>
		            <button id="delete-dialogCancel" class="aui-button aui-button-link">Cancel</button>
		        </div>
		        <!-- Hint text is rendered on the left of the footer -->
		        <div class="aui-dialog2-footer-hint"></div>
		    </footer>
		</section>
	
		<form action="WorkflowMappingManager.jspa" method="post" id="mainForm">
			<input type="hidden" id="action" name="action" value=""/>
			<table class="ConfigMigration">
				<thead>
					<tr>
						<td colspan="100%">
							<input type="button" onclick="importMapping()" value="Import" />
							<input type="button" disabled id="exportBtn" onclick="submitForm('export')" value="Export Selected" />
							<input type="button" disabled id="enableBtn" onclick="submitForm('enable')" value="Enable Selected" />
							<input type="button" disabled id="disableBtn" onclick="submitForm('disable')" value="Disable Selected" />
							<input type="button" disabled id="deleteBtn" onclick="confirmDelete()" value="Delete Selected" />
						</td>
					</tr>
					<tr>
						<th>
							<input type="checkbox" onchange="selectAll(this.checked)"/>
						</th>
						<th>Description</th>
						<th>Status</th>
						<th>Target Workflow</th>
						<th>XPath</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($item in $action.getMappings().entrySet())
						<tr>
							<td>
								<input 	name="mapping"
										desc="${item.getValue().getDescription()}" 
										type="checkbox" 
										value="${item.getValue().getId()}"
										onchange="checkButtons()" 
								/>
							</td>
							<td>${item.getValue().getDescription()}</td>
							<td>
								#if ($item.getValue().isDisabled())
									<span>Disabled</span>
								#else
									<span>Enabled</span>
								#end
							</td>
							<td>
								#if ($item.getValue().getWorkflowName() && !$item.getValue().getWorkflowName().isEmpty())
									<span>${item.getValue().getWorkflowName()}</span>
								#else
									<span>All workflows</span>
								#end
							</td>
							<td>${item.getValue().getxPath()}</td>
							<td><a href="${action.getEditLink($item.getValue().getId())}">Edit</a></td>
						</tr>
					#end
				</tbody>
			</table>
		</form>
		<script type="text/javascript">
			// Check if download is pending
			#if ($action.getDownloadURL())
				var downloadForm = $('form#downloadForm');
				downloadForm.attr('action', '${action.getDownloadURL()}');
				#foreach ($item in $action.getDownloadParameters())
					var input = $("<input>")
	           						.attr("type", "hidden")
	          						.attr("name", "id").val("${item}");
					downloadForm.append(input);
				#end
				window.onbeforeunload = null;
				downloadForm.submit();
			#end	
		</script>
	</body>
</html>