<!-- 
	To store element for row construction.
	Controls disabled to avoid being included in form data.
-->
<script type="text/javascript">
	function confirmChange(control) {
		if ($(control).val() == 'true') {
			$(control).parent().parent().find('input').attr('type', 'text');
		} else {
			$(control).parent().parent().find('input').attr('type', 'hidden');
		}
	}
</script>
<tbody id="template" style="display: none; border: solid 1px;">
	<tr>
		<td width="3%" style="vertical-align: middle">
			<button 
				disabled
				type="button"
				onclick="removeRow($(this).parent().parent().parent().attr('id'))">
				<span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
			</button>
		</td>
		<td width="97%">
			<table>
				<thead>
					<tr>
						<th rowspan="2" style="width:10%">Approval Name</th>
						<th style="width:20%" colspan="2">Approvers</th>
						<th style="width:10%">Action If No Approver</th>
						<th rowspan="2" style="width:10%">Starting Status</th>
						<th style="width:20%" colspan="4">Target Status</th>
						<th style="width:20%" colspan="2">
							Count
							(Number of approvers required. 0 for all approvers, fraction for percentage of approvers)
						</th>
						<th rowspan="2" style="width:10%">Allow Change Decision</th>
					</tr>
					<tr>
						<th>Users Field</th>
						<th>Groups Field</th>
						<th></th>
						<th>Approved</th>
						<th>Approve Transition</th>
						<th>Rejected</th>
						<th>Reject Transition</th>
						<th>Approve</th>
						<th>Reject</th>
					</tr>
				</thead>
				<tr>
					<td>
						<input disabled required type="text" name="approvalName" value="$!{item.key}" />
					</td>
					<td>
						<select disabled name="approverUsersField">
							<option value="">N/A</option>
							#foreach ($item in $userFieldList.values())
								<option value="${item.getId()}">${item.getName()} (${item.getId()})</option>
							#end
						</select>
					</td>
					<td>
						<select disabled name="approverGroupsField">
							<option value="">N/A</option>
							#foreach ($item in $groupFieldList.values())
								<option value="${item.getId()}">${item.getName()} (${item.getId()})</option>
							#end
						</select>
					</td>
					<td>
						<select disabled name="noApproverAction">
							<option value="NO_ACTION">No Action (wait until there are approvers)</option>
							<option value="REJECT">Reject</option>
							<option value="APPROVE">Approve</option>
						</select>
					</td>
					<td>
						<select disabled name="startingStatus" required>
							#foreach ($item in $statusList.values())
								<option value="${item.getId()}">${item.getName()} (${item.getId()})</option>
							#end
						</select>
					</td>
					<td>
						<select disabled name="approvedStatus" required>
							#foreach ($item in $statusList.values())
								<option value="${item.getId()}">${item.getName()} (${item.getId()})</option>
							#end
						</select>
					</td>
					<td>
						<select disabled name="approveTransition">
							<option value="">Auto</option>
							#foreach ($item in $transitionList.entrySet())
								<option value="${item.getKey()}">${item.getValue()} (${item.getKey()})</option>
							#end
						</select>
					</td>
					<td>
						<select disabled name="rejectedStatus" required>
							#foreach ($item in $statusList.values())
								<option value="${item.getId()}">${item.getName()} (${item.getId()})</option>
							#end
						</select>
					</td>
					<td>
						<select disabled name="rejectTransition">
							<option value="">Auto</option>
							#foreach ($item in $transitionList.entrySet())
								<option value="${item.getKey()}">${item.getValue()} (${item.getKey()})</option>
							#end
						</select>
					</td>
					<td>
						<input disabled type="text" name="approveCount" value="0" pattern="0|[0-9]+|0.[0-9]+" required />
					</td>
					<td>
						<input disabled type="text" name="rejectCount" value="0" pattern="0|[0-9]+|0.[0-9]+" required />
					</td>
					<td>
						<select disabled name="allowChangeDecision" required>
								<option value="Allow">Allow</option>
								<option value="Deny">Deny</option>
						</select>
					</td>
				</tr>
			</table>
			<table>
				<thead>
					<tr>
						<th width="10%">Confirm Decision</th>
						<th width="20%">Dialog Title</th>
						<th width="25%">Approve Message</th>
						<th width="25%">Reject Message</th>
						<th width="10%">OK Button Text</th>
						<th width="10%">Cancel Button Text</th>
					</tr>
				</thead>
				<tr>
					<td>
						<select disabled name="confirmDecision" onchange="confirmChange(this)">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</td>
					<td>
						<input disabled type="text" name="confirmTitle" value=""/>
					</td>
					<td>
						<input disabled type="text" name="approveMessage" value=""/>
					</td>
					<td>
						<input disabled type="text" name="rejectMessage" value=""/>
					</td>
					<td>
						<input disabled type="text" name="confirmOK" value=""/>
					</td>
					<td>
						<input disabled type="text" name="confirmCancel" value=""/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</tbody>

<table class="CustomApproval" id="table">
</table>
<br/>
<input type="button" value="Add Approval" onclick="addRow()" />
	
<script type="text/javascript">
	var idx = 0;
	function removeRow(id) {
		$('#' + id).remove();
	}
	function addRow(data) {
		idx++;
		console.log("#" + idx + ": ");
		console.log(data);
		var newRow = $('#template').clone();
		// Set ID
		$(newRow).attr('id', idx);
		// Enable controls
		newRow.find('input, select, button').prop('disabled', false);
		// Set data
		if (!data) {
			// Set default values
			data = {
				'confirmDecision': 'true',
				'confirmTitle': 'Confirm Approval Decision',
				'approveMessage': 'You are approving the issue. Are you sure?',
				'rejectMessage': 'You are rejecting the issue. Are you sure?',
				'confirmOK': 'Confirm',
				'confirmCancel': 'Cancel'
			};
		}
		var keys = Object.keys(data);
		for (var i in keys) {
			newRow.find('[name="' + keys[i] + '"]').val(data[keys[i]]);
		}
		// Set dropdown list current value
		if (data['confirmDecision'] == 'true') {
			newRow.find('option[value="true"]').attr('selected', true);
		} else {
			newRow.find('option[value="false"]').attr('selected', true);
		}
		confirmChange(newRow.find('select[name="confirmDecision"]'));
		$('#table').append(newRow);
		$(newRow).css('display', '');
	}
	
	// Set data
	#set ($idx = 0)
	#foreach ($item in $approvalName)
		addRow({
			'approvalName': '$!approvalName.get($idx)',
			'approverUsersField': '$!approverUsersField.get($idx)',
			'approverGroupsField': '$!approverGroupsField.get($idx)',
			'startingStatus': '$!startingStatus.get($idx)',
			'approvedStatus': '$!approvedStatus.get($idx)',
			'approveTransition': '$!approveTransition.get($idx)',
			'rejectedStatus': '$!rejectedStatus.get($idx)',
			'rejectTransition': '$!rejectTransition.get($idx)',
			'approveCount': '$!approveCount.get($idx)',
			'rejectCount': '$!rejectCount.get($idx)',
			'noApproverAction': '$!noApproverAction.get($idx)',
			'allowChangeDecision': '$!allowChangeDecision.get($idx)',
			'confirmDecision': '$!confirmDecision.get($idx)',
			'confirmTitle': '$!confirmTitle.get($idx)',
			'approveMessage': '$!approveMessage.get($idx)',
			'rejectMessage': '$!rejectMessage.get($idx)',
			'confirmOK': '$!confirmOK.get($idx)',
			'confirmCancel': '$!confirmCancel.get($idx)'
		});
		#set ($idx = $idx + 1)
	#end
	
	// Add initial row
	if (idx == 0) {
		addRow(null);
	}
</script>