table.CustomApprovalCustomerPortal {
	width: 100%;
}

table.CustomApprovalCustomerPortal td,th {
	font-size: 0.7em;
	table-layout: fixed;
}

div.CustomApprovalCustomerPortalTite {
	font-weight: bold;
}