table.CustomApprovalCustomerPortal {
	width: 100%;
}

table.CustomApprovalCustomerPortal td, table.CustomApprovalCustomerPortal th {
	font-size: 0.8em;
	table-layout: fixed;
}

div.CustomApprovalCustomerPortalTite {
	font-weight: bold;
}

div.CustomApprovalCustomerPortalCount {
	font-size: 0.8em;
	font-weight: bold;
}

.CustomApprovalStrikeOut {
	text-decoration: line-through;
}