<!-- Don't know which context panel uses, so put CSS here directly -->
<style type="text/css">
	table.ApprovalHistory {
		border-collapse: collapse;
		width: 100%;
	}
	table.ApprovalHistory td, th {
		text-align: left;
	}
	.ApprovalHistoryStrikeOut {
		text-decoration: line-through;
	}
</style>
#if ($history)
	#foreach ($entry in $history.entrySet())
		<h5>
			<span>$entry.key</span>
			#set ($setting = $settings.get($entry.key))
			#if ($setting)
				<span>(</span>
				<span> Approve ${setting.approveCount}/${setting.approveCountTarget}</span>
				<span> Reject ${setting.rejectCount}/${setting.rejectCountTarget}</span>
				<span>)</span>
			#end
		</h5>
		#if ($entry.value.size() == 0)
			<span>No approvals yet</span>
		#else
			<table class="ApprovalHistory">
				<thead>
					<tr>
						<th>Approver</th>
						<th>Decision</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($item in $entry.value)
						#if ($item.isValid())
							#set ($strikeoutClass = "")
						#else
							#set ($strikeoutClass = "ApprovalHistoryStrikeOut")
						#end
						<tr>
							<td class="$!{strikeoutClass}">
								<div>${item.approverDisplayName}</div>
								#if (${item.onBehalfOfDisplayName})
									<table>
										<tr><th>Delegated From</th></tr>
										#foreach ($approver in $item.onBehalfOfDisplayName)
											<tr><td>${approver}</td></tr>
										#end
									</table>
								#end
							</td>
							<td class="$!{strikeoutClass}">${item.decision}</td>
							<td class="$!{strikeoutClass}">${item.approvedDateString}</td>
						</tr>
					#end
				</tbody>
			</table>
		#end
	#end
#end
#if ($current)
	<h5>
		<span>${current.approvalName}</span>
		<span>(</span>
		<span> Approve ${current.approveCount}/${current.approveCountTarget}</span>
		<span> Reject ${current.rejectCount}/${current.rejectCountTarget}</span>
		<span>)</span>
	</h5>
	<span>No approvals yet</span>
#end