<!-- Don't know which context panel uses, so put CSS here directly -->
<style type="text/css">
	table.ApprovalHistory {
		border-collapse: collapse;
		width: 100%;
	}
	table.ApprovalHistory td, th {
		text-align: left;
	}
	.ApprovalHistoryStrikeOut {
		text-decoration: line-through;
	}
	.ApprovalTitle {
		font-size: 1em;
		font-weight: bold;
	}
	.ApprovalCount {
		font-size: 0.8em;
		font-weight: bold;
	}
</style>
#if ($history)
	#foreach ($entry in $history.entrySet())
		#set ($setting = $settings.get($entry.key))
		<div class="ApprovalTitle">
			<span>$entry.key</span>
			#if ($setting.isCompleted())
				#if ($setting.isApproved())
					<span>- Approved</span>
				#else
					<span>- Rejected</span>
				#end
			#else
				<span>- Pending</span>
			#end			
		</div>
		<div class="ApprovalCount">
			<span>(</span>
			<span>Approve ${setting.approveCount}/${setting.approveCountTarget}</span>
			<span>Reject ${setting.rejectCount}/${setting.rejectCountTarget}</span>
			<span>)</span>
		</div>
		#if ($entry.value.size() == 0)
			<span>No approvals yet</span>
		#else
			<table class="ApprovalHistory">
				<thead>
					<tr>
						<th>Approver</th>
						<th>Decision</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($item in $entry.value)
						#if ($item.isValid())
							#set ($strikeoutClass = "")
						#else
							#set ($strikeoutClass = "ApprovalHistoryStrikeOut")
						#end
						<tr>
							<td class="$!{strikeoutClass}">
								#if (${item.delegatedDisplayName})
									<span>${item.delegatedDisplayName} on behalf of ${item.approverDisplayName}</span>
								#else
									<span>${item.approverDisplayName}</span>
								#end
							</td>
							<td class="$!{strikeoutClass}">${item.decision}</td>
							<td class="$!{strikeoutClass}">${item.approvedDateString}</td>
						</tr>
					#end
				</tbody>
			</table>
			<br/>
		#end
	#end
#end
#if ($current)
	<div class="ApprovalTitle">
		<span>${current.approvalName}</span>
		<span>- Pending</span>
	</div>
	<div class="ApprovalCount">
		<span>(</span>
		<span> Approve ${current.approveCount}/${current.approveCountTarget}</span>
		<span> Reject ${current.rejectCount}/${current.rejectCountTarget}</span>
		<span>)</span>
	</div>
	<span>No approvals yet</span>
#end